.c-chart {

  > .chart-row {
    display: flex;
    @media #{$small-viewport} {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: $default-space * 3;

      @media #{$small-viewport} {
        margin-bottom: $default-space;
      }
    }

    > .col1 {
      flex-basis: 60%;

      @media #{$small-viewport} {
        flex-basis: 100%;
      }
    }
    > .col2 {
      flex-basis: 40%;

      @media #{$small-viewport} {
        flex-basis: 100%;
      }
    }
  }

  .title {
    max-width: 340px;
    margin-bottom: $default-space;
  }

  .graph {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
  }

  .rv-xy-plot {
    &__axis__title {
      text {
        fill: $font-color-light;
        font-size: $font-size-s;
      }
    }
    &__axis__tick__text {
      fill: $font-color-light;
      font-size: $font-size-s;
    }
    &__grid-lines__line {
      stroke: $bg-color-purple-light;
    }
  }
}
