.c-chart {

  > .chart-row {
    display: flex;
    @media #{$medium-viewport} {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: $default-space;

      @media #{$medium-viewport} {
        margin-bottom: $default-space;
      }
    }

    > .col1 {
      flex-basis: calc(60% - 4%);
      margin-right: 4%;

      @media #{$medium-viewport} {
        flex-basis: 100%;
        margin-right: 0;
      }
    }
    > .col2 {
      flex-basis: 40%;

      @media #{$medium-viewport} {
        flex-basis: 100%;
      }
    }
  }

  .center-v {
    display: flex;
    align-items: center;
  }

  .title {
    margin-bottom: $default-space;
  }

  .species-list {
    > li {
      margin: 6px 0;
    }
  }

  .graph {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .rv-xy-plot {
    position: relative;

    &__axis__title {
      text {
        fill: $font-color-light;
        font-size: $font-size-s;
      }
    }
    &__axis__tick__text {
      fill: $font-color-light;
      font-size: $font-size-s;
    }
    &__grid-lines__line {
      stroke: $bg-color-purple-light;
    }
  }

  .tooltip {
    background-color: $bg-color-purple;
    border: 1px solid $bg-color-purple-light;
    padding: 5px;
    color: $font-color-light;
  }
}
