section {
  min-height: $section-height;
  @media #{$small-viewport} {
    min-height: $section-height-short;
  }

  > .header {
    text-align: center;
    margin-top: 4px;
    min-height: 85px;

    h2 {
      font-size: $font-size-xl;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }

  > .content {
    display: flex;
    @media #{$small-viewport} {
      flex-direction: column;
    }

    .col {
      flex-basis: 50%;
      flex-shrink: 0;

      @media #{$small-viewport} {
        flex-basis: 100%;
      }

      h1 {
        margin-bottom: $default-space;
      }

      .float-img {
        margin-left: 10px;
         @media #{$small-viewport} {
          margin-left: 0;
          max-width: 100%;
        }
      }

      &.-padding-left {
        padding-left: 100px;

         @media #{$small-viewport} {
          padding-left: 0;
        }
      }
    }
  }

  h3 {
    font-size: $font-size-l;
    margin-bottom: $default-space;
  }

  p {
    max-width: 340px;

    @media #{$small-viewport} {
      max-width: 100%;
    }

    &.wide {
      max-width: 700px;
    }
  }

  .slider-container {
    margin-top: 48px;
  }

  &.intro .content {
    align-items: center;
    margin-top: 65px;

    h1 {
      font-size: $font-size-xxl;
      margin-left: 100px;
      font-weight: 700;
      line-height: 1;

      @media #{$small-viewport} {
        margin-left: 0;
      }
    }
  }

  &.short {
    min-height: $section-height-short;
    padding-top: $default-space*2;
    padding-bottom: $default-space*2;
    @media #{$small-viewport} {
      min-height: 0;
    }
  }

  &.h-auto {
    min-height: 0;
  }

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.center-v {
    display: flex;
    align-items: center;
  }

  &.collapse {
    margin-bottom: 0;
    margin-top: 0;
	  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  &.intro {
    position: relative;
    background: url('./images/intro_bg.jpg') no-repeat center center;
    background-size: cover;

    h1, h2 {
      color: $font-color-secondary;
    }

    .action {
      position: absolute;
      bottom: 38px;
      left: calc(50% - 24px);
    }
  }

  &.yellow {
    background-color: $bg-color-yellow;
    > .header {
      h2 {
        color: $border-color;
      }
    }
  }

  &.orange {
    background-color: $bg-color-orange;
    > .header {
      h2 {
        color: $border-color;
      }
    }
    h1, h2, h3, p {
      color: #fff;
    }
  }

  &.purple {
    background-color: $bg-color-purple;
    h1, h2, h3, p {
      color: #fff;
      &.light {
         color: $font-color-light;
      }
    }
    &.-light {
      background-color: $bg-color-purple;
    }
    &.-gradient-light {
      background-image: linear-gradient(to bottom, $purple, $purple-gradient-light);
    }
    &.-gradient-dark {
      background-image: linear-gradient(to bottom, $purple-gradient-light, $purple-gradient-dark)
    }
  }

  &.white {
    background-color: transparent;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 140px;
      right: 18%;
      bottom: 140px;
      left: 18%;
      background-color: #fff;
      z-index: -1;
    }
  }

  &.bg-butterfly {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 22%;
      background: url('./images/butterfly.png') no-repeat center;
      background-size: cover;
      display: block;
      width: 310px;
      height: 310px;
      z-index: 0;
    }
  }

  &.bg-butterfly-top {
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 100px;
      left: 55%;
      background-image: url('./images/butterfly.png');
      background-position: center;
      background-size: cover;
      display: block;
      width: 120px;
      height: 120px;
      z-index: 0;
    }
  }

  &.bg-butterfly-center {
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 32%;
      right: 7%;
      background-image: url('./images/butterfly.png');
      background-position: center;
      background-size: cover;
      transform: scaleX(-1);
      display: block;
      width: 270px;
      height: 270px;
      z-index: 0;
    }
  }

  &.bg-butterfly-texture {
    position: relative;

    > .content {
      z-index: 1;
    }

    > .texture {
      position: absolute;
      bottom: -8px;
      left: -33px;
      width: 750px;
      height: 520px;
      z-index: 0;
    }
  }
}
