h1 {
  color: $font-color-main;
  font-size: $font-size-banner;
  font-weight: 400;
  &.small {
    font-size: $font-size-xl;
  }
  @media #{$medium-viewport} {
    font-size: $font-size-xxl;
  }
  @media #{$small-viewport} {
    font-size: $font-size-xl;
    &.small {
      font-size: $font-size-l;
    }
  }
}

h2, h3 {
  color: $font-color-main;
  font-size: $font-size-m;
  font-weight: 400;
  line-height: 1.4;
}

p {
  color: $font-color-main;
  line-height: 1.75;
  &.large {
    font-size: $font-size-l;
    line-height: 1.43;
  }
  &.small {
    font-size: $font-size-s;
    line-height: 1.43;
  }
}
